.container{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

@media screen and (max-width: 415px) {
    .container{
        width: 360px;
        justify-content: space-around;
    }

    .container img{
        width: 20px;
        height: 20px;
    }
}

