<form class="forms">
    <div class="my">
        <label for="my">
            <input type="checkbox" id="my">
            <span class="cbx">
                <svg width="12px" height="11px" viewBox="0 0 12 11">
                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                </svg>
            </span>
            <span>мои</span>
        </label>
        <input type="text" class="inp" placeholder="Автор">
    </div>
    <label for="sort">
        сортировать по:<input type="date" id="sort" class="inp">
    </label>
    <div class="box">
        <label for="cbk1">
            <input type="checkbox" id="cbk1">
            <span class="cbx">
                <svg width="12px" height="11px" viewBox="0 0 12 11">
                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                </svg>
            </span>
            <span>Я участник</span>
        </label>
        <label for="cbk2">
            <input type="checkbox" id="cbk2">
            <span class="cbx">
                <svg width="12px" height="11px" viewBox="0 0 12 11">
                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                </svg>
            </span>
            <span>В заголовке</span>
        </label>
        <label for="cbk3">
            <input type="checkbox" id="cbk3">
            <span class="cbx">
                <svg width="12px" height="11px" viewBox="0 0 12 11">
                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                </svg>
            </span>
            <span>Строгий поиск</span>
        </label>
    </div>
</form>